*{box-sizing: border-box;}

.content_wrapper{
    position:absolute;
    left:0;
    top:0;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(138,138,144,1) 0%, rgba(223,229,231,1) 49%, rgba(238,238,249,1) 100%);
    width:100%;
    height:100%;
    padding:0 auto;
}

#img_placeholder{
    position:relative;
    width:180px;
    height:170px;
    top:50px;
    border: 2px solid #ffffff;
    border-radius:50%;
    margin:auto;
    overflow: hidden;
}
    #img_placeholder img{
        width:180px;
        height:170px;
    }
h2{
    position:relative;
    padding-top:40px;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size:1.7em;
    color: #ffffff;    
}
.menu{
    position:relative;
    width:250px;
    height:25px;
    margin:auto;
    text-align:center;
    
    list-style-type: none;
    padding:0px;
}
.menu li{
    position:relative;
    display:inline-block;
    width:120px;
    height:23px;
    top:-1px;
    font-family:Georgia, Verdana, Tahoma, sans-serif;
    font-size:0.9em;
    text-decoration: none;
    text-align:center;
    color:#ffffff; 
}
    .menu li:hover{
        cursor: pointer;
        font-weight:bold;
        padding-bottom:3px;
        border-bottom:3px solid #ffffff;
        color:d3d3d3;
    }
